<!-- manage_patients.html -->
{% extends '_layout.html' %}
{% load static %}

{% block content %}
    <div id="patient-list" data-manage-patients-url="{% url 'manage_patients' %}">
        <p id="patient-list-title">Управление пациентами</p>

        <button class="btn btn-primary" id="filter-patients">Применить фильтры</button>
        <a class="btn btn-secondary" id="filter-patients" href="{% url 'manage_patients' %}">Сбросить фильтры</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Фамилия
                        <input type="text" name="last_name" id="last_name" class="form-control">
                    </th>
                    <th>Имя
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </th>
                    <th>Отчество
                        <input type="text" name="middle_name" id="middle_name" class="form-control">
                    </th>
                    <th>Дата рождения
                        <input type="text" name="date_of_birth" id="date_of_birth" class="form-control" placeholder="Введите дату рождения">
                    </th>
                    <th>Пол
                        <select name="gender" id="gender" class="form-control">
                            <option value="">Все</option>
                            <option value="М">Мужской</option>
                            <option value="Ж">Женский</option>
                        </select>
                    </th>
                    <th>Телефон
                        <input type="text" name="phone_number" id="phone_number" class="form-control">
                    </th>
                </tr>
            </thead>
            <tbody id="patient-list-body">
                {% for patient in patients %}
                    <tr class='clickable-row' data-href="{% url 'view_patient' patient.id %}">
                        <td>{{ patient.last_name }}</td>
                        <td>{{ patient.first_name }}</td>
                        <td>{{ patient.middle_name }}</td>
                        <td>{{ patient.date_of_birth }}</td>
                        <td>{{ patient.get_gender_display }}</td>
                        <td>{{ patient.phone_number }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            {% if patients.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ patients.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&lsaquo;</span>
                </a>
              </li>
            {% endif %}

            {# Логика вывода страниц с обрезкой #}
            {% regroup patients.paginator.page_range by None as all_pages %}
            {% with total=patients.paginator.num_pages %}
            {% with current=patients.number %}

            {# Покажем всегда первую страницу #}
            <li class="page-item {% if 1 == current %}active{% endif %}">
              <a class="page-link" href="?page=1">1</a>
            </li>

            {# Если между первой и соседними есть "пропуск" - показать троеточие #}
            {% if current > 4 %}
              <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}

            {# Показываем 2 страницы до и после текущей (если они в диапазоне от 2 до total-1) #}
            {% for num in patients.paginator.page_range %}
              {% if num > 1 and num < total %}
                {% if num >= current|add:-2 and num <= current|add:2 %}
                  <li class="page-item {% if num == current %}active{% endif %}">
                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endif %}
            {% endfor %}

            {# Если между последними соседними и последней страницей есть пропуск - показать троеточие #}
            {% if current < total|add:-3 %}
              <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}

            {# Последняя страница #}
            {% if total > 1 %}
              <li class="page-item {% if total == current %}active{% endif %}">
                <a class="page-link" href="?page={{ total }}">{{ total }}</a>
              </li>
            {% endif %}

            {% endwith %}
            {% endwith %}

            {% if patients.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ patients.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&rsaquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ patients.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>

</div>

<button class="btn btn-primary" id="add-patient" onclick="location.href='{% url 'add_patient' %}'">Добавить пациента</button>

<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.13/dist/flatpickr.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
<script src="{% static 'scripts/patient_list.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Инициализация Flatpickr для поля "Дата рождения"
        flatpickr("#date_of_birth", {
            mode: "range",
            dateFormat: "d.m.Y",
            locale: "ru"
        });

        // Обработчик для кнопки фильтрации
        const filterButton = document.getElementById('filter-patients');
        filterButton.addEventListener('click', function() {
            const lastName = document.getElementById('last_name').value;
            const firstName = document.getElementById('first_name').value;
            const middleName = document.getElementById('middle_name').value;
            const dateOfBirth = document.getElementById('date_of_birth').value;
            const gender = document.getElementById('gender').value;
            const phoneNumber = document.getElementById('phone_number').value;

            // Формируем URL с параметрами фильтрации
            const url = new URL(window.location.href);
            url.searchParams.set('last_name', lastName);
            url.searchParams.set('first_name', firstName);
            url.searchParams.set('middle_name', middleName);
            url.searchParams.set('date_of_birth', dateOfBirth);
            url.searchParams.set('gender', gender);
            url.searchParams.set('phone_number', phoneNumber);

            // Переходим на страницу с примененными фильтрами
            window.location.href = url.href;
        });

        // Заполнение полей фильтрации данными из URL
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('last_name').value = urlParams.get('last_name') || '';
        document.getElementById('first_name').value = urlParams.get('first_name') || '';
        document.getElementById('middle_name').value = urlParams.get('middle_name') || '';
        document.getElementById('date_of_birth').value = urlParams.get('date_of_birth') || '';
        document.getElementById('gender').value = urlParams.get('gender') || '';
        document.getElementById('phone_number').value = urlParams.get('phone_number') || '';

        // Делаем строки таблицы кликабельными
        const patientListBody = document.getElementById('patient-list-body');
        patientListBody.addEventListener('click', function(event) {
            if (event.target.tagName === 'TD' || event.target.tagName === 'TR') {
                const row = event.target.closest('tr');  // Получаем саму строку (если клик был по ячейке)
                const href = row ? row.dataset.href : null;
                if (href) {
                    window.location = href;  // Перенаправляем на страницу с данными врача
                }
            }
        });

        // Добавление эффекта наведения на строки
        const clickableRows = document.querySelectorAll("#patient-list-body tr.clickable-row");
        clickableRows.forEach(function(row) {
            row.addEventListener("mouseover", function() {
                this.classList.add("hover");  // Добавляем класс hover на строку
            });
            row.addEventListener("mouseout", function() {
                this.classList.remove("hover");  // Убираем класс hover при уходе мыши
            });
        });
    });
</script>
{% endblock %}
